@font-face {
    font-family: Pokemonfont;
    src: url(https://fonts.google.com/specimen/Press+Start+2P#standard-styles);
}

*{
    font-family: Pokemonfont;
}
hr.num1 {
    border: 1px solid #222224;
}
/* header */

h2 {
    display: flex;
    justify-content: center;
}

/* Style the nav bar  */
div#header-detail {
    border: 2px solid #222224;
    background-color: #f0f0f0;
    
}

/*Style the search box and button inside the nav bar */
input#search-bar, button#encounter {
    background-color: #ee1515;
    border: 2px solid #222224;
    border-radius: 8px;
   
}

::placeholder {
    color: #222224;
}


/* Style Pokemon list in container */
ul#pokemon-list {
    padding-left: 40px;
}

.fourwidecolumn { 
    display: flex;
    /* Needs to be placed next to pokemon info  */

}
/* needs to be placed next to PokeFinder (to the right) maybe put them in a div together */
img#pokeball{ 
    display: flex;
    align-items: flex-start;
    width: 2%;
}

img#region {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

hr.num2,hr.num3 {
    border: 2px solid #222224;
}

 button#kanto {
    position: absolute;
    bottom: 100px;
    left: 800px;
}

button#Johto {

}

button#Hoenn{

}

button#Sinnoh{

}


button#Unova{

}

button#Kalos{

}

button#Alola{

}

button#Galar{
    
}