@font-face {
    font-family: Pokemonfont;
    src: url(PokemonFont.ttf);
}

body {
    background-color: #868282;
    box-shadow: 0 5px #666;
    width: 100px;
    height: 100px; 
    min-width: 1000px; 
    min-height: 1000px; 
}

*{
    font-family: Pokemonfont;
}


hr.num1 {
    border: 1px solid #222224;
}
/* header */

h2 {
    display: flex;
    justify-content: center;
}

/* Style the nav bar  */
div#header-detail {
    border: 2px solid #222224;
    background-color: #f0f0f0;
    background-image: url(PokemonBadges.png);
    background-size: 75%;
}
    

/*Style the search box and button inside the nav bar */
input#search-bar, button#encounter {
    background-color: #ee1515;
    border: 2px solid #222224;
    border-radius: 8px;
    box-shadow: 0 0.5px #666
    
   
}

button#encounter {
    display: float;
    
}

::placeholder {
    color: #222224;
}


/* Style Pokemon list in container */
ul#pokemon-list {
    padding-left: 40px;
    display: inline;
}

img#pokemon {
    float: left;
    width: 20%;
    display: inline;
}


img#region {
    border-radius: 8px;
    border: 2px solid #222224;
    
}

hr.num2,hr.num3 {
    border: 2px solid #222224;
}

 button#kanto {
    position: relative;
    bottom: 38px;
    right: 150px;
}

button#Johto {
    position: relative;
    bottom: 200px;
    left: 630px;
}

button#Hoenn{
    position: relative;
    bottom: 93px;
    left: 500px;
}

button#Sinnoh{
    position: relative;
    bottom: 228px;
    left: 555px;
}

button#Unova{
    position: relative;
    bottom: 182px;
    right: 45px;
}

button#Kalos{
    position: relative;
    bottom: 114px;
    left: 50px;
}

button#Alola{
    position: relative;
    bottom: 50px;
    right: 300px;
}

button#Galar{
    position: relative;
    bottom: 245px;
    right: 200px;
}

/* ul.regionList {
    
} */

button.region {
    border-radius: 8px;
}

button.region:active:hover{
    transform: translateY(4px);
    opacity: 0.9;
}
