@font-face {
    font-family: Pokemonfont;
    src: url(PokemonFont.ttf);
}

body {
    background-color: #868282;
}

*{
    font-family: Pokemonfont;
    
}


hr.num1 {
    border: 1px solid #222224;
}
/* header */

h2 {
    display: flex;
    justify-content: center;
}

/* Style the nav bar  */
div#header-detail {
    border: 2px solid #222224;
    background-color: #f0f0f0;
    background-image: url(PokemonBadges.png);
    background-size: 75%;
}
    

/*Style the search box and button inside the nav bar */
input#search-bar, button#encounter {
    background-color: #ee1515;
    border: 2px solid #222224;
    border-radius: 8px;
   
}

button#encounter {
    display: float;
    
}

::placeholder {
    color: #222224;
}


/* Style Pokemon list in container */
ul#pokemon-list {
    padding-left: 40px;
    display: inline;
}

img#pokemon {
    float: left;
    width: 20%;
    display: inline;
}


img#region {
    /* display: flex;
    justify-content:flex-end;
    border-radius: 8px;
    border: 2px solid #222224;
    width: 50%; */
}

hr.num2,hr.num3 {
    border: 2px solid #222224;
}

 button#kanto {
    position: relative;
    bottom: 38px;
    right: 150px;
}

button#Johto {
    position: relative;
    bottom: 175px;
    right: 370px;
}

button#Hoenn{
    position: relative;
    bottom: 70px;
    right: 500px;
}

button#Sinnoh{
    position: relative;
    bottom: 220px;
    left: 800px;
}

button#Unova{
    position: relative;
    bottom: 180px;
    left: 200px;
}

button#Kalos{
    position: relative;
    bottom: 110px;
    left: 300px;
}

button#Alola{
    position: relative;
    bottom: 45px;
    right: 25px;
}

button#Galar{
    position: relative;
    bottom: 240px;
    left: 55px;
}

ul.regionList {
    
}